 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Mis Viajes</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active"><i class="fa fa-road"></i> Mis Viajes</li>
        </ol>
    </section>
    <section class="content">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <% if params[:mensaje] %>
                    <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <%= params[:mensaje] %>
                                    </div>
                    <% end %>
                            <%= render 'shared/user_viajes' %>
                            <%= render 'shared/user_viajes_realizados' %>
                    
                </div><!-- nav tabs custom -->
            </div>
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->