<% provide(:title, 'Conductores') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
  <%= render 'shared/administrador_sidebar' %>
</aside>

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-fw fa-circle-o"></i>
    Conductores
  </h1>
  <ol class="breadcrumb">
    <li >Inicio</li>
    <li class="active">
      <i class="fa fa-fw fa-users"></i>
      <!--<a href="/administrar_clientes">Clientes</a>-->
      <%= link_to "Clientes", administrar_clientes_url %>
    </li>
    <li ><%= @cliente.user.name%></li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

</section>
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->
