<% provide(:title, 'Inicio') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
    <%= render 'shared/administrador_sidebar' %>
  </aside>

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-fw fa-home"></i> Inicio
      </h1>
      <ol class="breadcrumb">
        <li >Inicio</li>
        <li class="active">Administradores</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <h3><i class="fa fa-fw fa-dashboard"></i> Dashboard</h3>

    </section>

  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
