<ul class="nav nav-tabs pull-right">
  <li class="active"><a href="#tab_1-1" data-toggle="tab">Detalle de la Van</a></li>
  
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab_1-1">
    <div id="forma_detalle_van">
     <%= render 'administradors/form_van', locals: { van: @van, action: @action } %>
    </div>
  </div><!-- /.tab-pane -->
  


</div><!-- /.tab-content -->


