<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/administradors/dashboard"><i class="fa fa-home"></i> <span>Inicio</span></a>
    </li>
    <li>
      <a href="/administradors"><i class="fa fa-user-md"></i> <span>Conductores</span></a>
    </li>
    <li>
      <a href="/administradors"><i class="fa fa-users"></i> <span>Administradores</span></a>
    </li>
    <li>
      <a href="/rutas"><i class="fa fa-map-marker"></i> <span>Rutas</span></a>
    </li>
    <li>
      <a href="/vans"><i class="fa fa-truck"></i> <span>Vanes</span></a>
    </li>
  </ul>
</section>