<table class="table table-bordered">
  <tr class="success">
    <th><b>Cliente</b></th>
    <th><b>Puntos</b></th>
  </tr>

<% clientes_top5.each do |cliente| %>
  <tr>
    <td><a><%=cliente.user.name%></a></td>
    <td><%=cliente.puntaje%></td>
  </tr>
<% end %>
</table>