<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/administradors/dashboard"><i class="fa fa-home"></i> <span>Inicio</span></a>
    </li>
    <li>
      <a href="/conductores"><i class="fa fa-fw fa-circle-o"></i> <span>Conductores</span></a>
    </li>
    <li>
      <a href="/administradores"><i class="fa fa-fw fa-briefcase"></i> <span>Administradores</span></a>
    </li>
  </ul>
</section>