<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/inicio"><i class="fa fa-home"></i> <span>Inicio</span></a>
    </li>
    <li>
      <a href="/administrar_clientes"><i class="fa fa-fw fa-users"></i> <span>Clientes</span></a>
    </li>
    <li>
      <a href="/administrar_conductores"><i class="fa fa-fw fa-circle-o"></i> <span>Conductores</span></a>
    </li>
    <li>
      <a href="/administrar_administradores"><i class="fa fa-fw fa-briefcase"></i> <span>Administradores</span></a>
    </li>
    <li>
      <a href="/listareportes"><i class="fa fa-flag"></i> <span>Reportes</span></a>
    </li>
    <li>
      <a href="/retroalimentaciones"><i class="fa fa-comment"></i> <span>Retroalimentaciones</span></a>
    </li>
    <li>
      <a href="/rutas"><i class="fa fa-map-marker"></i> <span>Rutas</span></a>
    </li>
    <li>
      <a href="/vans"><i class="fa fa-truck"></i> <span>Vanes</span></a>
    </li>
    <li>
      <a href="/sugerencias"><i class="fa fa-inbox"></i> <span>Sugerencias</span></a>
    </li>
    <li>
      <a href="/administrar_medallas"><i class="fa fa-trophy"></i> <span>Medallas</span></a>
    </li>
    <li>
      <a href="/configuraciones"><i class="fa fa-fw fa-gears"></i> <span>Configuraciones</span></a>
    </li>
  </ul>
</section>