<div class="row-fluid">
<% @aspectos.each do |aspecto| %>
<div class="span6" style="margin:5px">
    <%= pie_chart Retroalimentacion.joins(:tipocalificacion).where(:aspecto_id=> aspecto.id).group(:nombre).count, {library: {title: aspecto.nombre }}%>
    <center><p></p></center>
</div>

<% end %>
</div>