<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/administradors"><i class="fa fa-home"></i> <span>Inicio</span></a>
    </li>
    <li>
      <a href="/administrar_clientes"><i class="fa fa-fw fa-users"></i> <span>Clientes</span></a>
    </li>
    <li>
      <a href="/administrar_conductores"><i class="fa fa-fw fa-circle-o"></i> <span>Conductores</span></a>
    </li>
    <li>
      <a href="/administrar_administradores"><i class="fa fa-fw fa-briefcase"></i> <span>Administradores</span></a>
    </li>
    <li>
      <a href="/listareportes"><i class="fa fa-thumbs-up"></i> <span>Reportes</span></a>
    </li>
  </ul>
</section>