<ul class="nav nav-tabs pull-right">
  <li class="active"><a href="#tab_1-1" data-toggle="tab">Detalle de la Medalla</a></li>
  
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab_1-1">
    <div id="forma_detalle_medalla">
      <h2>Medalla</h2>
 <%= render 'administradors/form_medalla', locals: { medalla: @medalla, action: @action } %>

</div><!-- /.tab-content -->