      <div class="row">
            <div id="divconfCorreos" class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>
                    <%=number_to_currency(obtener_cuenta_vanpool["balance"], :precision => 2)%>
                  </h3>
                </div>
                <div class="icon">
                  <i class="fa fa-money"></i>
                </div>
                <h4 class="small-box-footer">
                  Saldo en cuenta de Vanpool
                </h4>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>
                    <%=number_to_currency(obtener_tranferencias_promocion, :precision => 2)%>
                  </h3>
                </div>
                <div class="icon">
                  <i class="fa  fa-gift"></i>
                </div>
                <h4 class="small-box-footer">
                  Depositos en promociones
                </h4>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>
                   <%=numero_clientes%>
                  </h3>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                 <h4 class="small-box-footer">
                  Usuarios registrados
                </h4>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>
                     <%=number_with_precision(calcula_co2_total, :precision => 2)%>
                  </h3>
                </div>
                <div class="icon">
                  <i class="fa fa-cloud"></i>
                </div>
                <h4 class="small-box-footer">
                  Kilogramos de CO2 ahorrado
                </h4>
              </div>
            </div><!-- ./col -->
      </div>