<div class="modal fade" id="conductorsModal" tabindex="-1" role="dialog" aria-labelledby="conductorsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Conductores</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/show_conductors_table' %>
      </div>
      <div class="modal-footer">
        </br><button type="button" class="btn btn-flat btn-success pull-right" data-dismiss="modal">Seleccionar Conductor</button>
      </div>
    </div>
  </div>
</div>