<div class="row-fluid gray">
    <div class="span8">
            <div class="span12">
                <p>Si tuvieras un <%=Configuracion.find(4).valor%> hasta el momento habrías ahorrado <b><%= number_with_precision(@co2.to_f/1000,:precision => 1) %></b>
                Kgs de CO2.</p>
            </div>
    </div>
    <div class="span4">
        <img style="width:150px" src="/assets/tsuru.png" alt="tsuru" />
    </div>
</div>