<div class="box-body">
        <div class="item">
            <% if @promociones[0]==nil && @regalos[0]==nil then %>
            <div class="msg-vacio">
                <h4><b>Aún no tienes promociones.
                <a href="#"> Aprende como ganar promociones.</a></b></h4>
            </div>
                <% else %>
                    <% @promociones.each do |promocion| %>
                    <div class="row-fluid">
                        <div class="span2">
                            <% if promocion.cobrado==true then %>
                                <img class="pull-left" src="/assets/check.png" style="width:80px; padding:3px" alt="Promoción aplicada" />
                            <% else %>
                            <img class="pull-left" src="/assets/clock.png" style="width:80px; padding:3px" alt="Promoción sin aplicar" />
                            <% end %>

                        </div>
                        <div class="span10">
                            <label><%= promocion.medalla.saldopromocion.nombre %></label> </br>
                            <label>Descripción: </label><%= promocion.medalla.saldopromocion.descripcion %><br>
                        </div>
                    </div>
                    <hr>
                <% end %>
                <% @regalos.each do |muroregalo| %> 
                    <div class="row-fluid">
                        <div class="span2">
                            <% if muroregalo.cobrado==true then %>
                                <img class="pull-left" src="/assets/check.png" style="width:80px; padding:3px" alt="Promoción aplicada" />
                            <% else %>
                            <img class="pull-left" src="/assets/clock.png" style="width:80px; padding:3px" alt="Promoción sin aplicar" />
                            <% end %>

                        </div>
                        <div class="span10">
                            <label><%= muroregalo.medalla.regalo.where(:perfil_id=>@current_cliente.perfil_id).first.nombre%></label> </br>
                            <label>Descripción: </label><%= muroregalo.medalla.regalo.where(:perfil_id=>@current_cliente.perfil_id).first.descripcion%><br>
                        </div>
                    </div>
                    <hr>
                <% end %>
            <% end %>
        </div><!-- /.item -->   
    </div><!-- box body-->