<% @user ||= current_user %>
<ul class="thumbnails">
    <li class="span4">
        <div class="small-box bg-blue text-center">
            <h1><%= number_with_precision(@kilometros,:precision => 1) %> </h1>
            <h4>Kilometros recorridos</h4>
        </div>
    </li>
    <li class="span4">
        <div class="small-box bg-green text-center">
            <h1><%= number_with_precision(@co2,:precision => 1) %></h1>
            <h4>Gramos de CO2 ahorrados</h4>
        </div>
    </li>
</ul>