  Puedes buscar tu dirección de origen y tu dirección de destino en el cuadro de búsqueda o haciendo click en el mapa
<div class="row-fluid">
<div class="span3">
  <div class="form-group">
      <label for="origen">¿Dónde comienzas tu viaje?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <input id="origenRuta" class="form-control"  placeholder="Origen">
        </div>
    </div>                  
</div>
<div class="span3">
  <div class="form-group">
       <label for="destino">¿Dónde terminas tu viaje?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <input id="origenRuta" class="form-control"  placeholder="Origen">
        </div>
    </div>                  
</div>
<div class="span2">
  <div class="form-group">
      <label for="diaViaje">¿Cuándo quieres viajar?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <input  id="diaViajeRuta" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask/>
        </div>
    </div>                  
</div>
<div class="span2">
  <div class="form-group">
      <label for="diaViaje">¿Cuándo quieres viajar?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <input  id="diaViajeRuta" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask/>
        </div>
    </div>                  
</div>
<div class="span2">
</br>
  <button type="submit" class="btn btn-flat btn-buscar registro">Buscar mi ruta</button>        
</div>
</div>
                                    

