<div class="row-fluid">
    <h3>Estatus</h3>
    <h4><%= @cliente.nivel.nombre %></h4>
    <b><%= @cliente.puntaje %> puntos</b>
    <p><%= @mensaje %></p>
    <p>Saldo $30.00</p>
    </br>                     
</div>