  Puedes buscar tu dirección de origen y tu dirección de destino en el cuadro de búsqueda o haciendo click en el mapa
  <script type="text/javascript">
   $(function() {
                //Datemask dd/mm/yyyy
                $("#diaViajeRuta").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

                //Timepicker
                $(".timepicker").timepicker({
                    showInputs: false
                });
            });
   </script>
<div class="row-fluid">
<div class="span3">
  <div class="form-group">
      <label for="origen">¿Dónde comienzas tu viaje?</label>
        <div class="input-group">

        <span class="input-group-addon"><i class="fa  fa-map-marker" style="color: #00D83A"></i></span>
        <input id="origenRuta" class="form-control"  placeholder="Origen" autocomplete="false">
        <input id="origenLat" name="origenLat" style="display: none">
        <input id="origenLng" name="origenLng" style="display: none">
        </div>
    </div>                  
</div>
<div class="span3">
  <div class="form-group">
       <label for="destino">¿Dónde terminas tu viaje?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa  fa-map-marker" style="color: #BC4B4B"></i></span>
        <input id="destinoRuta" class="form-control"  placeholder="Destino" autocomplete="false">
        <input id="destinoLat" name="destinoLat" style="display: none">
        <input id="destinoLng" name="destinoLng" style="display: none">
        </div>
    </div>                  
</div>
<div class="span2">
  <div class="form-group">
      <label for="diaViaje">¿Cuándo quieres viajar?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa  fa-calendar"></i></span>
        <input  id="diaViajeRuta" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask/>
        </div>
    </div>                  
</div>
<div class="span2">
  <div class="bootstrap-timepicker">
    <div class="form-group">
      <label for="horaViaje">¿A qué hora quieres viajar?</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
        
                  
          <input type="text" id="horainicio" name="horainicio" class="form-control timepicker">
        
        </div> <!-- input-group -->
    </div>  <!-- form group -->
  </div><!-- /.timepicker -->                
</div>
<div class="span2">
  
 <button id="show" type="submit" class="btn btn-flat btn-registro span12" style="margin-top:20px">Buscar mi ruta</button> 
      
</div>
</div>
                                    

