<div class="box">
    <div class="box-header">
        <i class="fa fa-trophy"></i>
        <h3 class="box-title">Últimas Medallas</h3>
    </div>
    <div class="side-wall">
        <img src="/assets/Foodzy_Badges.png" class="img-circle" alt="User Image" /></br>
        <img src="/assets/Foodzy_Badges.png" class="img-circle" alt="User Image" /></br>
        <img src="/assets/Foodzy_Badges.png" class="img-circle" alt="User Image" /></br>
        <img src="/assets/Foodzy_Badges.png" class="img-circle" alt="User Image" /></br>
    </div>
    <hr></hr>
    <h4 class="text-center"><a href="#">Ver todas mis medallas</a></h4>
    </br>
</div>