<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-asterisk"></i>
        <h3 class="box-title">Últimas promociones</h3>
    </div>
    <div class="box-body">
        
            <% if @promociones[0]==nil && @regalos[0]==nil then %>
            <div class="msg-vacio">
                <h4><b>Aún no tienes promociones.
                <a href="#"> Aprende como ganar promociones.</a></b></h4>
            </div>
                <% else %>
                    <% @promociones.each do |promocion| %>
                    <div class="row-fluid">
                        <div class="span2">
                            <% if promocion.cobrado==true then %>
                                <img class="pull-left" src="/assets/check.png" style="width:80px; padding:3px" alt="Promoción aplicada" />
                            <% else %>
                            <img class="pull-left" src="/assets/clock.png" style="width:80px; padding:3px" alt="Promoción sin aplicar" />
                            <% end %>

                        </div>
                        <div class="span10">
                            <label><%= promocion.medalla.saldopromocion.nombre %></label> </br>
                            <label>Descripción: </label><%= promocion.medalla.saldopromocion.descripcion %><br>
                        </div>
                    </div>
                    <hr>
                <% end %>
               
                <% @regalos.each do |muroregalo| %> 
                    <div class="row-fluid"> 
                        <div class="span2">
                            <% if muroregalo.cobrado==true then %>
                                <img class="pull-left" src="/assets/check.png" style="width:80px; padding:3px" alt="Promoción aplicada" />
                            <% else %>
                            <img class="pull-left" src="/assets/clock.png" style="width:80px; padding:3px" alt="Promoción sin aplicar" />
                            <% end %>

                        </div>
                        <div class="span10">
                            <label><%= muroregalo.medalla.regalo.where(:perfil_id=>@current_cliente.perfil_id).first.nombre%></label> </br>
                            <label>Descripción: </label><%= muroregalo.medalla.regalo.where(:perfil_id=>@current_cliente.perfil_id).first.descripcion%><br>
                             <% if muroregalo.cobrado==false then %>
                                <a>En tu próximo viaje pregunta por tu premio al chofer. </a><br>
                            <% end %>
                        </div>
                    </div>
                    <hr>
                <% end %>
            
                <div class="box-footer">
                    <h4 class="text-center"><a href="/promociones">Ver todas mis promociones</a></h4>
                </div>
            <% end %>
         
    </div><!-- box body-->
   
</div><!-- /.box --> 