<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="active">
            <a href="/dashboard"><i class="fa fa-home"></i> <span>Inicio</span></a>
        </li>
        <li>
            <a href="/users/rutas.html"><i class="fa fa-road"></i> <span>Mis viajes</span></a>
        </li>
        <li>
            <a href="/reservaciones"><i class="fa fa-check-square-o"></i> <span>Mis reservas</span></a>
        </li>
        <li>
            <a href="/clientes/<%= @current_user.id %>/profile"><i class="fa fa-user"></i> <span>Mi Perfil</span></a>
        </li>
        <li>
            <a href="/users/<%= @current_user.id %>/edit"><i class="fa fa-wrench"></i> <span>Configuración</span></a>
        </li>
         <li>
            <a href="/reporte"><i class="fa fa-check-square-o"></i> <span>Reportar servicio</span></a>
        </li>
    </ul>
</section>