<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-road"></i>
        <h3 class="box-title">Próximos viajes</h3>
    </div>
    <div class="box-body">
    <div class="item">
        <div class="row-fluid">
            <div class="span6">
                <label>Ruta:</label>Valle-Galerias</br>
                <label>Fecha:</label>Lunes 22 de septiembre de 2014 </br>
                <label>Hora de salida:</label>13:30 horas </br>
                <label>Hora de llegada:</label>14:50 horas</br>
            </div>
            <div class="span6">
                <button type="button" class="btn btn-success">Ver detalle</button>
                <button type="button" class="btn btn-primary">Invitar amigos</button>
                <div class="msg-amigos">
                    <p>¡Solo faltan 3 personas para alcanzar el SOLD OUT! <a href="#">Invita a tus amigos y gana más puntos</a></p>
                </div>
            </div>
        </div>
    </div><!-- /.item -->
    <hr></hr>
    <div class="item">
        <div class="row-fluid">
            <div class="span6">
                <label>Ruta:</label>Valle-Galerias</br>
                <label>Fecha:</label>Martes 23 de septiembre de 2014 </br>
                <label>Hora de salida:</label>13:30 horas </br>
                <label>Hora de llegada:</label>14:50 horas</br>
            </div>
            <div class="span6">
                <button type="button" class="btn btn-success">Ver detalle</button>
                <button type="button" class="btn btn-primary">Invitar amigos</button>
            </div>
        </div>
    </div><!-- /.item -->
    <hr></hr>
    <div class="item">
        <div class="row-fluid">
            <div class="span6">
                <label>Ruta:</label>Valle-Galerias</br>
                <label>Fecha:</label>Miércoles 24 de septiembre de 2014 </br>
                <label>Hora de salida:</label>13:30 horas </br>
                <label>Hora de llegada:</label>14:50 horas</br>
            </div>
            <div class="span6">
                <button type="button" class="btn btn-success">Ver detalle</button>
                <button type="button" class="btn btn-primary">Invitar amigos</button>
                <div class="msg-amigos">
                    <p>¡Solo falta 1 persona para alcanzar el SOLD OUT! <a href="#">Invita a tus amigos y gana más puntos</a></p>
                </div>
            </div>
        </div>
    </div><!-- /.item -->
    </div><!-- /.chat -->
    <div class="box-footer">
        <h4 class="text-center"><a href="#">Ver todos mis viajes</a></h4>
    </div>
</div><!-- /.box --> 
                            