<div class="box">
    <div class="side">
   		<div class="row-fluid">
    		<h4><%= @cliente.nivel.nombre %></h4>
    		<b><%= @cliente.puntaje %> puntos</b>
    		<p><%= @mensaje %></p>
		</div>
	</div>
</div>