<% @user ||= current_user %>
<ul class="thumbnails">
    <li class="span4">
        <div class="small-box bg-blue text-center">
            <h1><%= @co2%> </h1>
            <h4>Kilometros recorridos</h4>
        </div>
    </li>
    <li class="span4">
        <div class="small-box bg-green text-center">
            <h1><%= @user.followers.count %></h1>
            <h4>Kilos de CO2 ahorrados</h4>
        </div>
    </li>
    <li class="span4">
        <div class="small-box bg-yellow text-center">
            <h1><%= @dinero %> </h1>
            <h4>Pesos en gasolina ahorrados</h4>   
        </div>
    </li>
</ul>