<div class="row-fluid">
    <div class="span8">
        
            <div class="span6 bg-green text-center">
                <h1><%= number_with_precision(@co2,:precision => 1) %></h1>
            </div>
            <div class="span6 bg-green text-center">
                <h4>Gramos de CO2 ahorrados</h4>
            </div>
        
    </div>
    <div class="span4">
        <img src="/assets/tsuru.png" alt="tsuru" />
    </div>
</div>