<% provide(:title, 'Rutas') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
    <%= render 'shared/administrador_sidebar' %>
  </aside>

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-fw fa-map-marker"></i>
        Rutas
      </h1>
      <ol class="breadcrumb">
        <li >Inicio</li>
        <li class="active">Rutas</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="filtering">
        <!-- search form -->
        <form >
          <div class="input-group">
            <input type="text" placeholder="Buscar..." class="form-control" name="textoABuscar" id="textoABuscar" />
            <span class="input-group-btn">
              <button type="submit" id="btnBuscar" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- /.search form -->
      </div>
      <hr>

      
        <div id="deleteMessage" class="alert alert-warning alert-dismissable" style="display:none;">
            <i class="fa fa-warning"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div id="deleteMessageContent"></div>
        </div>
   
          <div id="rutasTableContainer" class="col-lg-12 col-xs-12">
            <button id="btnAgregar" class="btn btn-default btn-sm">
              <i class="fa fa-plus"></i> Agregar Ruta
            </button></br></br>
          </div>

        <div id="detalleRuta" class="col-lg-4 col-md-4 col-xs-12 nav-tabs-custom">



        <script type="text/javascript">
  $(document).ready(function () {
              $('#rutasTableContainer').jtable({
                  messages: {
                      serverCommunicationError: 'Ocurri&oacute; un error al comunicarse con el servidor.',
                      loadingMessage: 'Cargando Registros...',
                      noDataAvailable: '&iexcl;No hay Datos!',
                      addNewRecord: 'Agregar Ruta',
                      editRecord: 'Editar pregunta',
                      areYouSure: '¿Está seguro?',
                      deleteConfirmation: '&iquest;Est&aacute; seguro de eliminar esta ruta?',
                      save: 'Guardar',
                      saving: 'Guardando',
                      cancel: 'Cancelar',
                      deleteText: 'Eliminar',
                      deleting: 'Eliminando',
                      error: 'Error',
                      close: 'Cerrar',
                      cannotLoadOptionsFor: 'No se pueden cargar las opciones para el campo {0}',
                      pagingInfo: 'Mostrando {0} a {1} de {2} rutas',
                      pageSizeChangeLabel: 'N&uacute;mero de registros',
                      gotoPageLabel: 'Ir a la p&aacute;gina',
                      canNotDeletedRecords: '&excl;¡No se pudieron eliminar {0} de {1} registros!',
                      deleteProgress: 'Eliminadas {0} de {1} rutas, procesando...'
                  },
                  title: 'Tabla de rutas',
                  useBootstrap: true,
                  paging: true, //Habilitamos paginación.
                  pageSize: 10, //Definimos el número de registros a mostrar a 10.
                  sorting: true, //Habilitamos ordenación.
                  defaultSorting: 'nombre ASC', //Definimos la columna default de ordenación.
                  defaultDateFormat: 'yy-mm-dd',
                  gotoPageArea: 'combobox',
                  selecting: true, //Habilitar Seleccion.
                  selectingCheckboxes: true, //Mostrar checkbox en la primer columna
                  selectOnRowClick: true, //Habilitamos selección con la fila
                  deleteConfirm: true,
                  actions: {
                      //Aquí va el URL del método del controlador, debemos definirlos primero en config/routes.
                      listAction: '/ruta_controller/jtable_filterlist',
                      deleteAction: '/ruta_controller/jtable_delete'
                  },
                  fields: {
                      //Columna en la tabla. Deben ponerse todas las columnas, si no deben ser visible, solamente
                      //habilitamos la opción list:false. Si un campo no debe editarse configuramos edit:false.
                      ruta_id: {
                          key: true,
                          list: false
                      },
                      nombre: {
                          title: 'Nombre',
                          width: '10%'
                      },
                      precio: {
                          title: 'Precio',
                          width: '20%'
                      },
                      placa: {
                        title: 'Van',
                          width: '20%',
                          edit: false,
                          create: false
                      },
                      estatus: {
                          list: false,
                          edit: false,
                          create: false
                      },
                      created_at: {
                          list: false,
                          edit: false,
                          create: false
                      },
                      updated_at: {
                          list: false,
                          edit: false,
                          create: false
                      }
                  },

                  selectionChanged: function(){
                    var $selectedRows = $("#rutasTableContainer").jtable('selectedRows');
                    $('#SelectedRowList').empty();
                    if ($selectedRows.length > 0) {
                      $selectedRows.each(function(){
                        var record = $(this).data('record');
                      
                      $.get('/administrar_ruta_detalle', record, function(result){
                            $("#detalleRuta").html(result);
                        }).success();
                      $("#rutasTableContainer").removeClass('col-md-12');
                        $("#rutasTableContainer").removeClass('col-lg-12');
                        $("#rutasTableContainer").addClass('col-md-8');
                        $("#rutasTableContainer").addClass('col-lg-8');
                        $("#detalleRuta").show('fast');
                      });
                    }else {
                      //Ninguna fila seleccionada
                      $("#rutasTableContainer").removeClass('col-md-8');
                      $("#rutasTableContainer").removeClass('col-lg-8');
                      $("#rutasTableContainer").addClass('col-md-12');
                      $("#rutasTableContainer").addClass('col-lg-12');
                      $("#detalleRuta").hide('fast');
                  }
                    
                },

                recordDeleted: function(event, data){
                    $("#deleteMessageContent").html(data.serverResponse.Message);
                    $("#deleteMessage").show();
                }


              });

              //Realiza la búsqueda al presiona el botón de bsucar.
              $('#btnBuscar').click(function (e) {
                  e.preventDefault();
                  $('#rutasTableContainer').jtable('load', {
                      textoABuscar: $('#textoABuscar').val()
                  });
              });
              //Realiza la búsqueda al teclear en el campo de búsqueda si solo hay espacios, muestra todos los campos.
              $('#textoABuscar').keyup(function() {
                  var texto = $('#textoABuscar').val();
                  if(texto.trim().length == 0){
                      $('#rutasTableContainer').jtable('load');
                  }else{
                      $('#rutasTableContainer').jtable('load', {
                          textoABuscar: $('#textoABuscar').val()
                      });
                  }
              });
              // Esta línea carga los datos de la jTable al desplegar la página.
              $('#rutasTableContainer').jtable('load');
              // Esta línea oculta el detalle al cargar la jTable
              $("#detalleRuta").hide();
          });

      


$('#btnAgregar').click(function() {
    window.location.href = '/rutas/new';
    return false;
});





</script>
        <br/>
      <hr>



      </table>

      <br />

     
    </section>

  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
