mfksdnvkdsn.kjn
<div data-jtable-config="/administradoresTableContainer">
	<script type="text/javascript">
		//administradoresTableContainer
var jtable_config = {
    title: '',
    paging: true, //Enable paging
    pageSize: 10, //Set page size (default: 10)
    sorting: true, //Enable sorting
    defaultSorting: 'administradors__nombre ASC', //Set default sorting
    defaultDateFormat: 'yy-mm-dd',
    gotoPageArea: 'combobox',
    actions: {
        listAction: '/administradoresTableContainer'
    },
    fields: {
        administradors__Emailusuario: {
            key: true,
            list: false
        },
        administradors__Idtipousuario: {
            title: 'Name',
            width: '30%'
        },
        administradors__Facebookidusuario: {
            title: 'Age',
            width: '20%'
        },
        administradors__Openpayidusuario: {
            title: 'City',
            width: '20%'
        },
        administradors__Nombrepilausuario: {
            title: 'City',
            width: '20%'
        },
        administradors__Apellidopaterno: {
            title: 'City',
            width: '20%'
        },
        administradors__Apellidomaterno: {
            title: 'City',
            width: '20%'
        },
        administradors__Fechanacimiento: {
            title: 'City',
            width: '20%'
        },
        administradors__Estatususuario: {
            title: 'City',
            width: '20%'
        }
    }
};
	</script>
</div>