<div class="jtable-filter">
  <form class="jtable-filter">
    <input type="text" name="filter" id="filter"/>
    <button type="submit" data-jtable-filter="demo">Filter</button>
  </form>
</div>
<div id="demo" data-jtable-config="/demo">
	dfkjdksj
</div>