<p id="notice"><%= notice %></p>

<p>
  <b>Reservacion:</b>
  <%= @retroalimentacion.reservacion_id %>
</p>


<%= link_to 'Edit', edit_retroalimentacion_path(@retroalimentacion) %> |
<%= link_to 'Back', retroalimentacions_path %>
