<div class="row-fluid footer">
      <div class="span12 container">
        <div class="container">
          <div class="row-fluid">
            <div class="span6">
              <img src="/assets/logo.png">
              <div class="row-fluid">
                <div class="span12">&copy; 2014 Redes de Aventones SAPI de CV.</div> 
              </div>
            </div>
            <div class="span6">
              <a href="#">Acerca de</a> &middot; <a href="#">Preguntas Frecuentes</a> &middot;<a href="#">Aviso de privavidad</a> &middot; <a href="#">Terminos de uso</a>
            </div>
          </div>
        </div>
      </div>
    </div>